# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env*

# typescript
*.tsbuildinfo

app-example
tmp/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ignore contract file
services/games-service/jackpot/raffle.json
services/games-service/jackpot/raffle.ts
services/games-service/coin-flip/coinflip.json
services/games-service/coin-flip/coinflip.ts


# others
.npmrc
